html, body {
    height: 100%;
}
body {
    margin: 0;
}
h1 {
    margin: 0;
    box-sizing: border-box;
}
#json-import {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 95%;
}