:root {
    --bg-color: #101818;
    --primary-color: cornflowerblue;
    --secondary-color: seagreen;
    --highlight-color: midnightblue;
    --elevate-color: #203030;
    --separator-color: blue;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: var(--bg-color);
    color: var(--primary-color);
    margin: 0px;
    display: grid;
    grid-template-columns: min-content min-content auto;
    grid-gap: 2em;
    white-space: nowrap;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}