html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: #101818;
    color: cornflowerblue;
    margin: 0px;
    display: grid;
    grid-template-columns: min-content min-content auto;
    white-space: nowrap;
}
h2 {
    font-size: 1.2em;
    padding: 2px;
    border-bottom: 1px solid seagreen;
}
#calls {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid black;
}
#layers {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid black;
}
#inspect {
    padding-left: 8px;
}
.call {
    user-select: none;
    padding: 4px;
    border: none;
    background: none;
}
.call * {
    pointer-events: none;
}
.call h2 {
    text-transform: uppercase;
    margin: 3px 8px;
}
.call.selected {
    background: midnightblue;
}
.layersContainer {
    display: none;
}
.layersContainer.selected {
    display: block;
}
.layer {
    user-select: none;
    padding: 3px;
}
.layer * {
    pointer-events: none;
}
.layer.selected {
    background-color: midnightblue;
}
.detail {
    display: none;
}
.detail.selected {
    display: block;
}
.detail .head {
    display: flex;
    user-select: none;
}
.groupControl {
    text-transform: capitalize;
    margin: 3px;
    padding: 2px;
    cursor: default;
}
.groupControl.nodata {
    border: none;
    color: gray;
}
.groupControl.active {
    background: midnightblue;
}
.groupControl.active.nodata {
    color: red;
}
.group {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 8px;
}
.group h2 {
    text-transform: capitalize;
    grid-column: 1 / span 2;
}
.group.hidden {
    display: none;
}
.key.nokey {
    text-decoration: line-through;
}
.key.empty {
    font-weight: bold;
    color: red;
}