html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0px;
    display: flex;
}
h2 {
    font-size: 1.2em;
    padding: 2px;
    border-bottom: 1px solid blue;
}
#calls {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid black;
}
#layers {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid black;
}
#details {
    background: blue;
}
.call {
    padding: 4px;
    border: none;
    background: none;
}
.call * {
    pointer-events: none;
}
.call h2 {
    margin: 3px 8px;
}
.call.selected {
    background: lightblue;
}
.layersContainer {
    display: none;
}
.layersContainer.selected {
    display: block;
}
.layer * {
    pointer-events: none;
}
.layer.selected {
    background-color: lightblue;
}
.detail {
    display: none;
}
.detail.selected {
    display: block;
}
.detail .head {
    display: flex;
}
.hidden {
    background: green;
}
.keyPair.nokey {
    text-decoration: line-through;
}
.keyPair.empty {
    font-weight: bold;
    color: red;
}